In [50]:
import pandas as pd
import numpy as np

In [174]:
xl = pd.ExcelFile('ООО_Внимание_к_деталям.xlsx')

print(xl.sheet_names)

['Справочник точек', 'Выручка по обучающей выборке']

In [175]:
df1 = xl.parse('Справочник точек')
df2 = xl.parse('Выручка по обучающей выборке')

C:\Users\aveac\AppData\Local\Temp/ipykernel_4368/122144240.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  df1 = xl.parse('Справочник точек')

In [69]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id точки             245 non-null    float64
 1   Адрес                246 non-null    object
 2   Широта               242 non-null    float64
 3   Долгота              242 non-null    float64
 4   Дата открытия        245 non-null    object
 5   Дата закрытия        9 non-null      datetime64[ns]
 6   Площадь магазина     246 non-null    int64
 7   Тип входа            244 non-null    object
 8   Площадь ТЦ           204 non-null    float64
 9   Формат магазина      246 non-null    object
 10  Парковка             226 non-null    object
 11  Этаж                 241 non-null    object
 12  Время работы         232 non-null    object
 13  Заполненность ТЦ     182 non-null    float64
 14  Рядом с эскалатором  246 non-null    int64
 15  Рядом со входом      246 non-null    int64
 16  Конкуренты в ТЦ      94 non-null     float64
 17  Расположение в ТЦ    224 non-null    float64
 18  Толока               246 non-null    float64
 19  Люкс                 246 non-null    float64
 20  Выборка              245 non-null    object
dtypes: datetime64[ns](1), float64(9), int64(3), object(8)
memory usage: 40.5+ KB

Сколько магазинов формата стрит в тестовой выборке? 7

In [124]:
df1['Формат магазина'].value_counts()

ТЦ         191
Мини ТЦ     28
Street      18
Стрит        4
Мини-ТЦ      3
Strееt       1
Стрт         1
Name: Формат магазина, dtype: int64

In [12]:
df1['Выборка'].value_counts()

Обучающая    156
Тестовая      77
-             10
Тест           1
Обyчающая      1
Name: Выборка, dtype: int64

In [22]:
count_mag = df1[df1['Выборка'].isin(['Тестовая','тест']) & df1['Формат магазина'].isin(['Street','Стрит','Стрт','Strееt'])]
count_mag

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
72,42059.0,"г. Санкт-Петербург, Невский пр., дом № 27",30.327007,59.935056,2005-03-03 00:00:00,NaT,234,отдельный вход с улицы,NaN,Стрит,...,1,с 10:00 до 22:00,NaN,0,1,NaN,3.0,77.000192,77.965517,Тестовая
74,42072.0,"г. Санкт-Петербург, Невский пр., дом № 90-92, ...",30.352412,59.932428,2003-09-16 00:00:00,NaT,136,отдельный вход с улицы,NaN,Стрит,...,3,с 10:00 до 22:00,NaN,0,1,0.0,NaN,43.738228,74.862069,Тестовая
119,42288.0,"Краснодарский край, г. Сочи, ул. Навагинская, ...",39.723699,43.587014,2002-04-06 00:00:00,NaT,172,отдельный вход с улицы,NaN,Street,...,1,с 9:00 до 21:00,NaN,0,1,0.0,NaN,30.012877,77.586207,Тестовая
130,42345.0,"Ленинградская обл, г. Выборг, ул. Северная, до...",28.750976,60.711041,2006-06-01 00:00:00,NaT,150,отдельный вход с улицы,NaN,Strееt,...,3,с 10:00 до 21:00,NaN,0,1,NaN,NaN,22.997501,46.482759,Тестовая
155,42466.0,"Новгородская обл, г. Великий Новгород, ул. Газ...",31.271550,58.524624,2011-04-14 00:00:00,NaT,375,отдельный вход с улицы,NaN,Стрит,...,3,с 10:00 до 21:00,NaN,0,1,NaN,NaN,21.730924,48.931034,Тестовая
164,42499.0,"Оренбургская обл, г. Оренбург, ул. Володарског...",55.102543,51.768377,2007-02-11 00:00:00,NaT,272,отдельный вход с улицы,NaN,Street,...,1,с 10:00 до 21:00,2.0,0,1,NaN,NaN,43.510475,68.620690,Тестовая
224,42792.0,"Ставропольский край, Пятигорск, улица Крайнего...",43.070993,44.036763,2015-11-11 00:00:00,NaT,429,без сквозного прохода,NaN,Street,...,1,с 10:00 до 21:00,NaN,0,0,NaN,NaN,39.937152,75.000000,Тестовая

In [24]:
print(f'Магазинов формата стрит в тестовой выборке {len(count_mag)}')

Магазинов формата стрит в тестовой выборке 7

In [127]:
df2

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,11366.0,245709.342667,301024.685000,406199.782258,295602.853000,268179.172258,266579.009667,202667.039355,207347.022581,237393.216667,...,271084.023513,298845.267500,277776.347333,270902.919677,280106.099000,243448.836129,236709.816452,248268.778333,296637.103226,314456.870000
1,11810.0,270245.842066,297964.820199,406198.175918,232433.263996,229317.708387,251403.308057,242000.555806,260407.109247,267051.162996,...,245402.383180,273515.012143,240088.292000,196260.466452,228920.589000,204058.825161,207104.013135,203499.409840,206013.017419,218636.436000
2,15041.0,171972.976000,198141.440000,260215.741935,205316.010644,187059.870968,198590.970667,178250.637781,187094.699355,211000.005517,...,174154.623627,173190.240000,240396.837333,241494.616774,264873.765333,227461.233548,249503.230968,251805.680000,263152.960000,269913.018667
3,15775.0,409032.989736,468816.460949,582717.510920,442807.529886,371689.316054,428430.990000,365894.971255,384266.496739,385515.509997,...,431909.251500,493571.089286,408575.490000,387081.406452,418398.840000,362395.248387,393423.329032,387866.910000,421387.374194,481330.143000
4,16102.0,437693.191667,510077.198214,602107.617742,465779.798333,423448.914516,414476.575000,370944.770968,392089.754839,416797.330000,...,378429.858867,453511.489286,388849.670000,369223.219355,392389.013333,328593.246774,350885.291935,369367.358333,427575.006452,472508.001667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,2634000.0,341009.722000,413489.085501,518426.278387,376071.505667,357895.794516,505318.240505,458096.520286,516279.226774,486665.455265,...,513382.351353,590733.692857,480563.392000,457005.916452,541734.577000,444286.811935,574573.538710,538086.317000,530747.271290,565599.127667
151,2634008.0,270923.715000,404737.144643,470433.872222,401063.781000,318507.450000,385579.165000,375166.269677,382299.377093,413219.906524,...,162847.124247,202552.822857,185037.349333,167999.870323,186120.868667,175067.582903,174118.710968,174518.631333,189597.414516,226016.234333
152,2634011.0,378429.753517,350607.477988,482925.193552,367225.245935,349294.028363,388179.193333,400668.150126,421847.743068,345782.485333,...,461032.727239,443111.015436,410602.549333,379963.923226,457012.976000,431740.369032,491072.692000,461658.858000,421671.512258,489829.227333
153,2633936.0,NaN,NaN,NaN,NaN,420226.940000,311592.339222,255945.113890,234998.024826,234465.065333,...,360466.441020,372836.555000,299080.189333,286674.025806,327415.778667,305542.250323,345389.650968,349845.855333,361092.704994,363068.734000
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,502913.053140,594450.393471,560283.324000,514546.421768,644308.088000,533981.383006,562082.839742,575194.942000,724658.394194,726229.020000

In [176]:
df_mini_id = df1[df1['Формат магазина'].isin(['Мини ТЦ','Мини-ТЦ'])]['id точки'].dropna()

In [129]:
df_mini_id

18       18331.0
24       18728.0
30       41824.0
47       41933.0
66       42039.0
73       42067.0
82       42113.0
94       42163.0
99       42192.0
105      42219.0
112      42242.0
117      42276.0
118      42278.0
131      42355.0
133      42368.0
136      42383.0
145      42422.0
152      42458.0
163      42496.0
165      42504.0
174      42548.0
181      42598.0
184      42618.0
186      42645.0
195      42683.0
204      42720.0
211      42743.0
227      42803.0
238      42645.0
242    2633930.0
Name: id точки, dtype: float64

In [130]:
len(df_mini_id)

30

In [177]:
df_cash_id = pd.merge(df_mini_id, df2, on="id точки", how='left')

In [160]:
df_cash_id

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,...,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,18331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18728.0,337679.020000,505983.520415,615360.263226,500352.832000,425920.356129,430724.373333,375469.775484,393728.196129,424960.032000,...,373410.949707,4.685612e+05,399674.202667,407408.598710,4.000675e+05,347254.880000,394659.819355,365415.978293,4.342167e+05,4.673427e+05
2,41824.0,294160.860000,332418.278571,420586.925516,343592.490000,304774.200000,286569.600000,276055.519355,281996.941935,318999.450000,...,284639.819100,3.202741e+05,282319.110000,283913.593548,2.827235e+05,245294.738710,261821.583871,258710.340000,2.974931e+05,3.063746e+05
3,41933.0,109865.820000,126723.117857,152200.364516,107882.820000,91019.583871,99189.210000,95974.809677,97722.667742,99790.740000,...,137483.579100,1.421332e+05,108691.770000,109184.160000,1.139699e+05,106091.883871,119400.474194,100425.300000,1.135795e+05,1.204928e+05
4,42039.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,42067.0,628606.145983,782399.429996,951061.128761,656418.923765,609605.233548,592214.616000,530772.236125,563528.496872,586790.106000,...,704630.177580,7.881435e+05,650247.780000,656367.390000,6.806792e+05,577640.862581,634563.413535,635086.872000,6.759724e+05,7.783088e+05
6,42113.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,42163.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,42192.0,151637.321333,216306.985000,277075.327097,180022.309333,170645.389032,196597.060667,176633.319355,194029.565806,204538.501333,...,135509.310473,1.544448e+05,129081.012000,129195.525161,1.402567e+05,114631.785806,137375.068387,140619.259333,1.328806e+05,1.479622e+05
9,42219.0,157466.511253,202047.920000,234949.409032,177244.293333,148637.114839,183352.651034,152184.046452,162511.241290,177276.026667,...,213195.209547,2.266750e+05,207612.421333,192076.206452,2.080060e+05,165456.480000,177566.064516,183363.712000,1.727240e+05,1.817432e+05
10,42242.0,264344.055172,348946.371429,415594.606452,266054.000000,245366.529032,276015.386667,231961.677419,260843.303226,261634.960000,...,217416.744552,2.592755e+05,220794.480000,189777.264516,2.118292e+05,183364.929032,192615.845161,213716.986667,2.147003e+05,2.728862e+05
11,42276.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,42278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,42355.0,85751.509333,105745.920000,146492.903226,85729.962667,93568.536774,146862.609655,182964.356129,211138.436129,192441.685333,...,94826.792533,1.033739e+05,79854.848000,84665.269677,1.309307e+05,164624.144516,206688.784516,170605.952000,1.070820e+05,1.034954e+05
14,42368.0,495181.397333,635521.966171,736313.641290,491456.725333,479248.392258,531883.562667,459149.046916,545733.821935,601488.128000,...,698664.448000,7.652262e+05,639936.981333,640013.171613,8.097499e+05,697356.965161,782840.732903,806436.565333,7.770220e+05,8.268084e+05
15,42383.0,227416.886667,301359.175000,366492.959677,256595.884697,223962.096129,241470.289667,268201.834194,285165.496452,268671.797333,...,290967.715455,3.104934e+05,264606.220667,219131.287742,2.790458e+05,239944.954516,294459.344065,270101.650000,2.380212e+05,2.877602e+05
16,42383.0,394456.820997,454259.378600,583649.965152,443076.413799,391290.346452,408554.289000,357205.572574,390696.346452,417790.097997,...,482870.720640,5.085937e+05,438699.822000,445378.677097,4.258781e+05,369380.528710,407637.960968,384249.393000,4.494295e+05,5.164639e+05
17,42422.0,232976.510968,314623.680000,348278.812903,183403.509333,181645.357419,214560.987586,222363.896774,265095.581935,200252.042667,...,249316.154477,2.423048e+05,195312.320000,222580.562581,2.385812e+05,232572.227097,250810.018065,235580.240000,2.354536e+05,2.796286e+05
18,42458.0,219149.590000,293537.514286,357135.970968,226599.376667,203653.077419,249762.076667,225139.590323,249907.119355,260166.170000,...,265228.260733,3.188488e+05,251739.180000,232292.854839,2.552087e+05,241624.509677,252351.461290,254306.250000,2.703375e+05,3.353723e+05
19,42496.0,239829.310345,303454.678571,393876.903226,227685.400000,218679.709677,272133.700000,253745.516129,278234.838710,284389.933333,...,301981.345172,3.315686e+05,250826.266667,245341.290323,2.616015e+05,265403.935484,289961.451613,264209.100000,2.882873e+05,3.329472e+05
20,42504.0,172584.289032,219756.954286,276604.092903,177366.738000,158834.874667,197529.253333,174931.129032,208360.836129,200176.081379,...,294858.957503,2.916936e+05,260022.929333,230384.925161,2.811142e+05,260060.354839,271794.951613,259467.160667,2.904111e+05,3.075868e+05
21,42548.0,253117.500000,285824.285714,328571.774194,232919.083333,217333.185484,289637.666667,250797.379032,254216.935484,266364.083333,...,349798.872581,3.408286e+05,296127.166667,295908.346774,3.413589e+05,283217.258065,284307.500000,284344.208333,3.075784e+05,3.362867e+05
22,42598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,42618.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,42645.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,42683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171091.642997,1.838696e+05,136865.268333,116222.864286,1.688310e+05,141340.312258,171602.225484,148094.347333,1.674594e+05,2.062576e+05
26,42720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,538240.075742,5.753074e+05,505546.560000,462613.393548,5.681034e+05,449464.412903,490554.587613,512510.480000,5.245763e+05,5.690977e+05
27,42743.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,895776.790452,1.026140e+06,957189.932000,832048.250323,1.080225e+06,930774.463742,947716.404387,992037.800000,1.234502e+06,1.295495e+06
28,42803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,191133.519600,2.101383e+05,172536.544000,161458.529032,1.575993e+05,123351.107097,132907.598710,168157.778400,1.447527e+05,1.573582e+05
29,42645.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2633930.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
df_cash_id.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 47 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id точки    31 non-null     float64
 1   2015-01-01  16 non-null     float64
 2   2015-02-01  16 non-null     float64
 3   2015-03-01  16 non-null     float64
 4   2015-04-01  16 non-null     float64
 5   2015-05-01  16 non-null     float64
 6   2015-06-01  16 non-null     float64
 7   2015-07-01  16 non-null     float64
 8   2015-08-01  16 non-null     float64
 9   2015-09-01  16 non-null     float64
 10  2015-10-01  16 non-null     float64
 11  2015-11-01  16 non-null     object
 12  2015-12-01  17 non-null     object
 13  2016-01-01  17 non-null     object
 14  2016-02-01  18 non-null     object
 15  2016-03-01  18 non-null     object
 16  2016-04-01  18 non-null     object
 17  2016-05-01  18 non-null     object
 18  2016-06-01  18 non-null     float64
 19  2016-07-01  19 non-null     float64
 20  2016-08-01  19 non-null     float64
 21  2016-09-01  19 non-null     float64
 22  2016-10-01  19 non-null     float64
 23  2016-11-01  19 non-null     object
 24  2016-12-01  19 non-null     object
 25  2017-01-01  19 non-null     object
 26  2017-02-01  19 non-null     object
 27  2017-03-01  19 non-null     float64
 28  2017-04-01  19 non-null     float64
 29  2017-05-01  19 non-null     float64
 30  2017-06-01  20 non-null     float64
 31  2017-07-01  20 non-null     float64
 32  2017-08-01  20 non-null     float64
 33  2017-09-01  20 non-null     float64
 34  2017-10-01  20 non-null     float64
 35  2017-11-01  20 non-null     float64
 36  2017-12-01  20 non-null     float64
 37  2018-01-01  20 non-null     float64
 38  2018-02-01  20 non-null     float64
 39  2018-04-01  20 non-null     float64
 40  2018-05-01  20 non-null     float64
 41  2018-06-01  20 non-null     float64
 42  2018-07-01  20 non-null     float64
 43  2018-08-01  20 non-null     float64
 44  2018-09-01  20 non-null     float64
 45  2018-10-01  20 non-null     float64
 46  2018-11-01  20 non-null     float64
dtypes: float64(36), object(11)
memory usage: 11.6+ KB

In [110]:
df_cash_id['id точки']

0       18331.0
1       18728.0
2       41824.0
3       41933.0
4       42039.0
5       42067.0
6       42113.0
7       42163.0
8       42192.0
9       42219.0
10      42242.0
11      42276.0
12      42278.0
13      42355.0
14      42368.0
15      42383.0
16      42383.0
17      42422.0
18      42458.0
19      42496.0
20      42504.0
21      42548.0
22      42598.0
23      42618.0
24      42645.0
25      42683.0
26      42720.0
27      42743.0
28      42803.0
29      42645.0
30    2633930.0
Name: id точки, dtype: object

In [178]:
col_mapping = [f"{c[0]}:{c[1]}" for c in enumerate(df_cash_id.columns)]

In [162]:
col_mapping

['0:id точки',
 '1:2015-01-01',
 '2:2015-02-01',
 '3:2015-03-01',
 '4:2015-04-01',
 '5:2015-05-01',
 '6:2015-06-01',
 '7:2015-07-01',
 '8:2015-08-01',
 '9:2015-09-01',
 '10:2015-10-01',
 '11:2015-11-01',
 '12:2015-12-01',
 '13:2016-01-01',
 '14:2016-02-01',
 '15:2016-03-01',
 '16:2016-04-01',
 '17:2016-05-01',
 '18:2016-06-01',
 '19:2016-07-01',
 '20:2016-08-01',
 '21:2016-09-01',
 '22:2016-10-01',
 '23:2016-11-01',
 '24:2016-12-01',
 '25:2017-01-01',
 '26:2017-02-01',
 '27:2017-03-01',
 '28:2017-04-01',
 '29:2017-05-01',
 '30:2017-06-01',
 '31:2017-07-01',
 '32:2017-08-01',
 '33:2017-09-01',
 '34:2017-10-01',
 '35:2017-11-01',
 '36:2017-12-01',
 '37:2018-01-01',
 '38:2018-02-01',
 '39:2018-04-01',
 '40:2018-05-01',
 '41:2018-06-01',
 '42:2018-07-01',
 '43:2018-08-01',
 '44:2018-09-01',
 '45:2018-10-01',
 '46:2018-11-01']

In [179]:
df_cash_2016 = df_cash_id.iloc[:,np.r_[13:25]]
df_cash_2016

,2016-01-01,2016-02-01,2016-03-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,367034.64,518191.52,612575.473548,462814.8,477767.72129,451050.096000,401384.010323,383641.476129,422102.426667,422386.720000,405809.077707,856554.5744
2,288251.64,380476.893103,409749.793548,335297.01,341503.345161,310039.590000,273176.738710,293777.854839,343191.180000,338595.300000,311294.64,588298.821097
3,96125.46,131703.051724,166441.23871,103033.83,109410.63,107573.640000,98078.632258,115117.374194,104382.240000,132300.493548,102602.67,228666.224032
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,618664.28442,778685.648276,948356.72129,610125.39,648604.550319,628196.226000,541807.499032,548504.053548,589191.498000,637511.713548,627179.86758,1422015.153503
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,157156.285333,219535.906897,263464.079355,180751.274,174377.539355,200850.477333,172807.401290,181212.264516,182401.356000,210517.014194,161834.140093,288096.281471
9,165361.765333,183196.816166,234128.893793,181151.861333,166158.575484,173533.509333,162844.341333,169838.714839,173049.632000,200700.714667,179830.29904,296884.380439
10,262235.282759,341500.413793,413340.774194,278217.413333,253406.967742,291884.933333,245933.264516,220819.148387,268867.520000,274188.619355,257091.973867,560730.918968
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,79599.658667,99675.188966,129198.823226,83833.026207,90507.767742,143539.242667,204567.081290,239827.447742,194232.533333,130127.483871,89366.954667,179 944.79
14,545935.13931,646203.233103,769325.914426,567838.250667,554051.427097,655431.680000,596274.787097,670410.405161,650349.909333,694186.157419,614323.370667,1151109.860335
15,252934.439333,315365.363793,396360.040323,268140.630333,244010.423548,254807.249667,268337.013226,266149.490645,292829.203333,298976.948065,263109.089577,478168.718006
16,432084.77433,561409.609655,669310.098387,487761.416997,485661.457742,456049.373670,392559.430645,430120.350000,469779.123000,492347.534516,488088.280677,966823.179939
17,221053.099355,236999.453793,294685.765161,186388.645333,188042.580645,227255.242667,228655.803871,246902.518710,184107.914667,239920.185806,220086.60912,433696.697858
18,247509.406897,341837.668966,403892.03871,268721.163333,263977.36129,274547.460000,272024.925806,258007.483871,274683.676667,312697.887097,289971.88,558147.665226
19,288339.827586,373763.172414,424793.516129,247102.166667,268194.83871,288479.900000,269497.774194,282031.645161,268095.833333,283937.000000,281229.467333,537106.161613
20,208697.489333,268136.578621,331250.030323,218518.301333,207277.721935,222148.099667,232665.450968,236915.669677,211914.458667,254999.308667,230982.218513,420625.293897
21,256810.443548,299840.905172,424251.653226,269642.625,262584.83871,274678.625000,252030.887097,319404.879032,344379.250000,402658.104839,377204.91625,776855.566532
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,112845.751333,122103.392759,169540.163871,94366.555667,100353.6,106509.617333,106632.150968,108016.763226,103707.372333,121351.532581,112168.614003,293144.517742
26,NaN,NaN,NaN,NaN,NaN,NaN,475542.757882,255120.270964,227869.800000,304069.354839,292810.4796,471397.935097
27,NaN,0,0,0,0,0.000000,0.000000,313307.100000,561332.864000,710535.174194,719798.1604,1527870.618581
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
df_cash_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   2016-01-01   17 non-null     object
 1   2016-02-01   18 non-null     object
 2   2016-03-01   18 non-null     object
 3   2016-04-01   18 non-null     object
 4   2016-05-01   18 non-null     object
 5   2016-06-01   18 non-null     float64
 6   2016-07-01   19 non-null     float64
 7   2016-08-01   19 non-null     float64
 8   2016-09-01   19 non-null     float64
 9   2016-10-01   19 non-null     float64
 10  2016-11-01   19 non-null     object
 11  2016-12-01   19 non-null     object
 12  average_all  19 non-null     float64
dtypes: float64(6), object(7)
memory usage: 3.4+ KB

Сколько магазинов с бесплатной парковкой? **157**

In [125]:
df1['Парковка'].value_counts()

бесплатная парковка    156
нет парковки            34
платная парковка        31
100                      2
1000                     1
700                      1
бесплатная паpковка      1
Name: Парковка, dtype: int64

In [126]:
count_free_parking = df1[df1['Парковка'].isin(['бесплатная парковка','бесплатная паpковка'])]
count_free_parking

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,...,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
0,8955.0,"Оренбургская обл, Оренбург г, Шарлыкское ш, д...",55.118272,51.843127,2016-11-09 00:00:00,NaT,478,без сквозного прохода,130000.0,ТЦ,...,3,с 10:00 до 22:00,NaN,0,0,1.0,7.0,37.857582,69.500000,Обучающая
1,11007.0,"Алтайский край, г. Барнаул, ул. Малахова, дом ...",83.696799,53.356954,2010-04-26 00:00:00,NaT,332,сквозной проход,31500.0,ТЦ,...,1,с 10:00 до 22:00,NaN,0,1,NaN,9.0,57.810494,66.896552,Обучающая
2,11366.0,"Амурская область, Благовещенск, улица Мухина, 114",127.510357,50.280435,2017-08-25 00:00:00,NaT,356,без сквозного прохода,36000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,0,1,1.0,6.0,49.959831,68.727273,Обучающая
3,11810.0,"Архангельская обл, г. Архангельск , Троицкий п...",40.528249,64.532316,2012-11-03 00:00:00,NaT,317,отдельный вход с улицы + сквозной проход,35000.0,ТЦ,...,1,с 10:00 до 21:00,3.0,0,1,0.0,10.0,128.459158,64.517241,Обучающая
4,15041.0,"Архангельская обл, г. Архангельск, Троицкий пр...",40.526317,64.534327,2006-12-09 00:00:00,NaT,176,сквозной проход,15332.0,ТЦ,...,цоколь,с 10:00 до 21:00,3.0,1,0,NaN,0.0,103.199885,78.275862,Тестовая
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,2633927.0,"Якутск г, Орджоникидзе ул, дом № 38, ТРК ""Туйм...",129.728962,62.029059,2017-08-18 00:00:00,NaT,843,без сквозного прохода,NaN,ТЦ,...,3,NaN,2.0,0,1,NaN,11.0,16.728042,54.103448,Тестовая
241,2633929.0,"Ямало-Ненецкий АО, г. Новый Уренгой, ул. Сибир...",76.631279,66.082833,2014-08-01 00:00:00,NaT,326,без сквозного прохода,40000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,1,1,NaN,10.0,36.219104,64.037037,Тестовая
242,2633930.0,"Ямало-Ненецкий АО, Ноябрьск г, Советская ул, д...",75.465427,63.203380,2016-04-16 00:00:00,NaT,707,без сквозного прохода,NaN,Мини ТЦ,...,1,NaN,2.0,0,1,NaN,1.0,93.000000,80.103448,Обучающая
243,2633935.0,"Ярославская обл, г. Ярославль, ул. Победы, дом...",39.869236,57.626872,2013-09-14 00:00:00,NaT,423,без сквозного прохода,120000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,0,0,2.0,9.0,54.416490,72.034483,Обучающая
245,2633948.0,"Ярославская обл, Ярославский район, Телегински...",39.783545,57.645195,2006-12-12 00:00:00,NaT,319,без сквозного прохода,42000.0,ТЦ,...,1,с 10:00 до 22:00,3.0,1,0,1.0,7.0,27.845666,47.896552,Обучающая